.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1.5px;
}

.contenedor {
    margin: auto;
    width: 98%;
}

/*.gestiones__columna {
    border: gray 1px solid;
    padding-right: 100px;
}*/

/*Estilos del header*/

.header{
    height: 70px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo, .icon-menu {
    margin: 5px;
    color: white;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #3DA2D8;
    color: white;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;

}

/*Estilos del menu*/

.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.menu__link {
    display: block;
    padding: 20px;
    background: #3DA2D8;
    text-decoration: none;
    color: white;
}

.menu__link:hover, .select{
    background: white;
    color: #3DA2D8;
}

.mostrar {
    left: 0;
}

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;

}
.banner__img {
    width: 100%;
    height: auto;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.banner__titulo{
    text-align: center;
}

.banner__txt {
    display: none;
    text-align: center;
}

/*Estilos de Section Gestion*/

.section__titulo {
    text-align: center;
    font-size: 60px;
    color: #3DA2D8;
}

.gestiones__columna {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}

.gestion__descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    width: 60%;
    height: 100%;
    cursor: pointer;
}
.gestion__imagen {
    width: 100%;
    height: auto;
}

.gestion__titulo {
    font-size: 25px;
    margin: 5px 0;
    text-align: center;
}
.gestion__txt {
    text-align: center;
}

/*Estilo responsive*/

@media(min-width:480px) {
    .logo {
        font-size: 40px;
    }
    .banner__titulo {
        font-size: 30px;
        margin: 5px 0;
    }
    .banner__txt {
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }

    .info, .gestiones {
        display: flex;
        justify-content: space-between;
        margin-top: -80px;
    }

    .info__columna {
        width: 32%;
    }

    .info__titulo {
        font-size: 30px;
        margin: 5px 0
    }

    .gestiones {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .section__titulo {
        width: 100%;
    }

    .gestiones__columna {
        width: 30%;
        margin: 5px;
    }
}

@media(min-width:768px) {
    .banner__titulo {
        font-size: 50px;
    }

    .gestion__titulo {
        font-size: 40px;
    }

    .logo {
        font-size: 50px;
    }

}

@media(min-width:1024px) {
    .logo {
        font-size: 60px;
    }
    
    .nav {
        position: static;
        width: auto;
    }

    .menu {
        display: flex;
    }

    .icon-menu {
        display: none;
    }

    .menu__link {
        background: none;
        font-size: 20px;
    }
    
    .select {
        background: white;
        color: #3DA2D8;
    }
    .banner__titulo {
        font-size: 60px;
    }

    .gestion__titulo {
        font-size: 50px;
    }
    /*.section__titulo {
        font-size: 80 px;
        
    }*/
}
div{
    margin:0px;
    padding: 0px;
}
.paginas{
    background-color:#3da2d8;
}